In [1]:
# imports

import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

import env
import acquire
import prepare

In [ ]:
# acquire data 

df = acquire.get_zillow_data()

In [2]:
# Take a look at the data

df.head()

,parcelid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id,logerror,transactiondate
0,11721753,616260,NaN,NaN,NaN,2.0,3.0,None,6.0,2.0,...,205123.0,2016.0,163175.0,2627.48,None,NaN,6.037220e+13,1018,0.017785,2017-07-21
1,11289917,2061546,1.0,NaN,NaN,2.0,3.0,None,6.0,2.0,...,136104.0,2016.0,27214.0,2319.90,Y,15.0,6.037901e+13,1248,-0.362001,2017-06-23
2,11705026,1834372,NaN,NaN,NaN,1.0,2.0,None,6.0,1.0,...,35606.0,2016.0,23624.0,543.69,None,NaN,6.037232e+13,1772,-0.146056,2017-06-30
3,14269464,1923117,NaN,NaN,NaN,3.0,4.0,None,NaN,3.0,...,880456.0,2016.0,445569.0,9819.72,None,NaN,6.059064e+13,2028,0.021085,2017-06-01
4,11446756,451211,NaN,NaN,NaN,2.0,3.0,None,6.0,2.0,...,107110.0,2016.0,46573.0,1399.27,None,NaN,6.037650e+13,2681,-0.163064,2017-08-23

In [3]:
df.shape

(28124, 62)

In [ ]:
# Looking at the columns with more detail

df.info()

In [4]:
df['calculatedfinishedsquarefeet'].max()

17245.0

In [5]:
df = prepare.clean_zillow(df)
df

,parcelid,bathrooms,bedrooms,square_feet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,...,regionidcity,county,zip_code,roomcnt,year_built,structuretaxvaluedollarcnt,tax_value,assessmentyear,landtaxvaluedollarcnt,taxes
0,11721753,2.0,3.0,1316.0,1316.0,6037.0,2.0,34033180.0,-118355396.0,5672.0,...,12447.0,3101.0,95997.0,0.0,1923.0,41948.0,205123.0,2016.0,163175.0,2627.48
1,11289917,2.0,3.0,1458.0,1458.0,6037.0,2.0,34686163.0,-118113100.0,8284.0,...,5534.0,3101.0,97318.0,0.0,1970.0,108890.0,136104.0,2016.0,27214.0,2319.90
2,11705026,1.0,2.0,1421.0,1421.0,6037.0,1.0,33999877.0,-118291863.0,6707.0,...,12447.0,3101.0,96018.0,0.0,1911.0,11982.0,35606.0,2016.0,23624.0,543.69
3,14269464,3.0,4.0,2541.0,2541.0,6059.0,3.0,33694636.0,-117912245.0,4975.0,...,38032.0,1286.0,96958.0,0.0,2003.0,434887.0,880456.0,2016.0,445569.0,9819.72
4,11446756,2.0,3.0,1491.0,1491.0,6037.0,2.0,33873860.0,-118338253.0,5000.0,...,54722.0,3101.0,96162.0,0.0,1955.0,60537.0,107110.0,2016.0,46573.0,1399.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28119,11991766,2.0,6.0,2634.0,2634.0,6037.0,2.0,34082326.0,-118298006.0,6275.0,...,12447.0,3101.0,95985.0,0.0,1921.0,196349.0,878190.0,2016.0,681841.0,12766.88
28120,14011468,1.5,4.0,1187.0,1187.0,6059.0,1.0,33819394.0,-118015068.0,6000.0,...,16764.0,1286.0,96180.0,6.0,1959.0,56469.0,465999.0,2016.0,409530.0,5552.68
28121,14453399,3.0,5.0,3015.0,3015.0,6059.0,3.0,33468267.0,-117578817.0,7207.0,...,13693.0,1286.0,96983.0,0.0,2002.0,355982.0,852813.0,2016.0,496831.0,11662.88
28122,11128688,3.0,5.0,2992.0,2992.0,6037.0,3.0,34279343.0,-118554206.0,40567.0,...,12447.0,3101.0,96356.0,0.0,1977.0,392000.0,1120000.0,2016.0,728000.0,13663.03
28123,10713993,3.0,3.0,1574.0,1574.0,6037.0,3.0,34234857.0,-118604879.0,25762.0,...,12447.0,3101.0,96346.0,0.0,1951.0,225385.0,563463.0,2016.0,338078.0,6903.66

In [6]:
df['square_feet'].max()

3524.0

In [7]:
df['county'].unique()

array([3101., 1286., 2061.])

In [8]:
df.shape

(24662, 22)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24662 entries, 0 to 28123
Data columns (total 22 columns):
parcelid                      24662 non-null int64
bathrooms                     24662 non-null float64
bedrooms                      24662 non-null float64
square_feet                   24662 non-null float64
finishedsquarefeet12          24662 non-null float64
fips                          24662 non-null float64
fullbathcnt                   24662 non-null float64
latitude                      24662 non-null float64
longitude                     24662 non-null float64
lotsizesquarefeet             24662 non-null float64
propertylandusetypeid         24662 non-null float64
rawcensustractandblock        24662 non-null float64
regionidcity                  24662 non-null float64
county                        24662 non-null float64
zip_code                      24662 non-null float64
roomcnt                       24662 non-null float64
year_built                    24662 non-null float64
structuretaxvaluedollarcnt    24662 non-null float64
tax_value                     24662 non-null float64
assessmentyear                24662 non-null float64
landtaxvaluedollarcnt         24662 non-null float64
taxes                         24662 non-null float64
dtypes: float64(21), int64(1)
memory usage: 4.3 MB

In [ ]:
features = [
    "bedrooms",
    "bathrooms",
    "square_feet"
]

df = df[features]
df.head()

In [ ]:
df.corr()

In [ ]:
df["bathrooms"].max()

In [ ]:
df['bedrooms'].max()

In [11]:
df['square_feet'].describe()

count    24662.000000
mean      1721.747628
std        627.614388
min        240.000000
25%       1246.000000
50%       1593.000000
75%       2100.000000
max       3524.000000
Name: square_feet, dtype: float64

In [10]:
df['finishedsquarefeet12'].describe()

count    24662.000000
mean      1721.747628
std        627.614388
min        240.000000
25%       1246.000000
50%       1593.000000
75%       2100.000000
max       3524.000000
Name: finishedsquarefeet12, dtype: float64